@{
    ViewBag.Title = "About";
    ViewBag.Test = "Checking on here for message";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h2>@ViewBag.Test</h2>

<p>Use this area to provide additional information.</p>
